<div class="container">
  <div class="row">
  <%= simple_form_for(@covid_information, data: { controller: 'validation' }) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <div class="form-row">
      <div class="form-group col-md-4">
        <label>Data de Referência</label>
        <%= f.input :date_reference, as: :date, label: false, input_html: { required: true, class: "form-control" } %>
      </div>
    
      <div class="form-group col-md-2">
        <label>Suspeitos</label>
        <%= f.input :suspected, label: false, input_html: { required: true, class: "form-control" } %>
      </div>

      <div class="form-group col-md-2">
        <label>Confirmados</label>
        <%= f.input :confirmed, label: false, input_html: { required: true } %>
      </div>
  
      <div class="form-group col-md-3">
        <label>Isolamento domiciliar</label>
        <%= f.input :home_isolation, label: false, input_html: { required: true } %>
      </div>
      <div class="form-group col-md-2">
        <label>Hospitalizado</label>
        <%= f.input :hospitalized, label: false, input_html: { required: true } %>
      </div>

    <div class="form-group  col-md-2">
      <label>Descartados</label>
      <%= f.input :discarded, label: false, input_html: { required: true } %>
    </div>
    <div class="form-group  col-md-2">
      <label>Óbitos</label>
      <%= f.input :deaths, label: false, input_html: { required: true } %>
    </div>
    <div class="form-group  col-md-2">
      <label>Curados</label>
      <%= f.input :heal, label: false, input_html: { required: true } %>
    </div>

    <div class="form-group  col-md-6">
      <label>Cidades</label>
      <%= f.association :city, label: false, input_html: { required: true } %>
    </div>
    </div>

    <div class="form-group">
      <%= f.button :submit, class:"btn btn-primary btn-raised" %>
    </div>
  <% end %>
  </div>
</div>