<p id="notice"><%= notice %></p>

<h1>Informações </h1>

<%= link_to 'Cadastrar Informação', new_covid_information_path, class: 'btn btn-outline-primary' %>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Data de Referência</th>
      <th scope="col">Suspeitos</th>
      <th scope="col">Confirmados</th>
      <th scope="col">Isolados em casa</th>
      <th scope="col">Hospitalizados</th>
      <th scope="col">Descartados</th>
      <th scope="col">Óbitos</th>
      <th scope="col">Curados</th>
      <th scope="col">Cidade</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @covid_informations.each do |covid_information| %>
      <tr>
        <td><%= covid_information.date_reference.strftime("%d/%m/%Y") %></td>
        <td><%= covid_information.suspected %></td>
        <td><%= covid_information.confirmed %></td>
        <td><%= covid_information.home_isolation %></td>
        <td><%= covid_information.hospitalized %></td>
        <td><%= covid_information.discarded %></td>
        <td><%= covid_information.deaths %></td>
        <td><%= covid_information.heal %></td>
        <td><%= covid_information.city.name %></td>
        <td><%= link_to 'Visualizar', covid_information %></td>
        <td><%= link_to 'Editar', edit_covid_information_path(covid_information) %></td>
        <td><%= link_to 'Excluir', covid_information_path(covid_information), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <%= paginate @covid_informations %>
  </tfoot>
</table>
<br>

