<p>
  <strong>Date reference:</strong>
  <%= @covid_information.date_reference %>
</p>

<p>
  <strong>Suspected:</strong>
  <%= @covid_information.suspected %>
</p>

<p>
  <strong>Confirmed:</strong>
  <%= @covid_information.confirmed %>
</p>

<p>
  <strong>Home isolation:</strong>
  <%= @covid_information.home_isolation %>
</p>

<p>
  <strong>Hospitalized:</strong>
  <%= @covid_information.hospitalized %>
</p>

<p>
  <strong>Discarded:</strong>
  <%= @covid_information.discarded %>
</p>

<p>
  <strong>Deaths:</strong>
  <%= @covid_information.deaths %>
</p>

<p>
  <strong>City:</strong>
  <%= @covid_information.city.name %>
</p>

<%= link_to 'Editar', edit_covid_information_path(@covid_information) %> |
<%= link_to 'Voltar', covid_informations_path %>
