
  <div class="row">
    <div class="col-12">
    <p>
      <span class="subtitle">Painel COVID-19</span> - <span> Norte e Noroeste Fluminense</span></br>
      <span>Atualizado em:</span> <span class="subtitle"><%= CovidInformation.last.date_reference.strftime("%H:%M:%S %d/%m/%Y") %></span>
    </p>
    </div>
  </div>

<div class="container">
  <div class="row">
    
    <div class="col-4">
      <div class="card">
        <div class="card-body">
          <span class="number-total text-yellow"><%= @total_suspected %></span>
          <span class="text-total">Casos Suspeitos</span>
        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="card">
        <div class="card-body">
          <span class="number-total text-orange"><%= @total_confirmed %></span>
          <span class="text-total">Casos Confirmados </span>
        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="card">
        <div class="card-body">
          <span class="number-total text-red"><%= @total_deaths %></span>
          <span class="text-total">Óbitos </span>
        </div>
      </div>
    </div>



    <div class="col-4 mt-3">  
      <div class="card">
        <div class="card-body">
          <span class="number-total text-yellow-light"><%= @total_hospitalized %></span>
          <span class="text-total">Hospitalizados </span>
        </div>
      </div>
    </div>

    <div class="col-4 mt-3">  
      <div class="card">
        <div class="card-body">
          <span class="number-total text-green"><%= @total_home_isolation %></span>
          <span class="text-total">Isolados em casa </span>
        </div>
      </div>
    </div>

    <div class="col-4 mt-3">
      <div class="card">
        <div class="card-body">
          <span class="number-total"><%= @total_discarded %></span>
          <span class="text-total">Descartados </span>
        </div>
      </div>
    </div>

  </div>

<div class="container mt-5">

  <div class="row">
    
    <div class="col-6">

       
    <div class="card">
      
    <div class="card-header">
      <span class="card-text-header">  CASOS CONFIRMADOS</span>
    </div>
       <span class="card-text-header"> <div class="card-body"></span>
         <%= column_chart @max_confirmed_by_city, colors: ["#ff2100", "#666"] %>
       </div>
    </div>

    </div>

    <div class="col-6">
      
    <div class="card">
      <div class="card-header">
        <span class="card-text-header"> CASOS SUSPEITOS</span>
      </div>
       <span class="card-text-header"> <div class="card-body"></span>
         <%= column_chart @max_suspected_by_city, colors: ["#ff9800", "#666"] %>

       </div>
    </div>

    </div>

  </div>

</div>






<div class="container mt-5">

  <div class="row">
    
    <div class="col-6">

       
      <div class="card">

        <div class="card-header">
          <span class="card-text-header"> CASOS SUSPEITOS NAS REGIÕES</span>
        </div>

        <div class="card-body">
          <%= line_chart @sum_suspected, xtitle: "Dia da Semana", ytitle: "Casos Suspeitos" %>
        </div>
      </div>

    </div>

    <div class="col-6">
      <div class="card">
        <div class="card-header">
        <span class="card-text-header"> CASOS CONFIRMADOS NAS REGIÕES</span>
        </div>
         <div class="card-body">
           <%= line_chart @cases_deaths_and_confirmed, xtitle: "Dia da Semana", ytitle: "Casos Confirmados" %>

       </div>
    </div>

    </div>

  </div>

</div>



<div class="container mt-5">

  <div class="row">
    
    <div class="col-6">

       
      <div class="card">

        <div class="card-header">
          <span class="card-text-header"> CASOS CONFIRMADOS POR CIDADES DA REGIÃO NOROESTE</span>
        </div>

        <div class="card-body">
          
           <%= line_chart @chart_cities_noroeste_confirmed, curve: true, points: true %>
        </div>
      </div>

    </div>

    <div class="col-6">
      <div class="card">
        <div class="card-header">
          <span class="card-text-header"> CASOS CONFIRMADOS POR CIDADES DA REGIÃO NORTE</span>
        </div>
         <div class="card-body">
           <%= line_chart @chart_cities_norte_confirmed, curve: true, points: true %>

       </div>
    </div>

    </div>

  </div>

</div>