<div class="col-12">

  <div class="alert alert-info alert-dismissible">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <h5><i class="icon fas fa-info"></i> Info</h5>
    Atualizado em <%= @covid_date_current %><br />
    O painel é totalmente interativo, clique nos MUNICÍPIOS ou passe o mouse nos gráficos para interagir
  </div>

</div>



<div class="col-12">
  <div class="card card-info">
    <div class="card-header">
      <h3 class="card-title">Dados Gerais</h3>

      <div class="card-tools">
        <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
        </button>
        <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
      </div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-3 col-sm-6 col-12">
          <div class="info-box">
            <span class="info-box-icon bg-info"><i class="fa fa-exclamation-triangle"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Casos Suspeitos</span>
              <span class="info-box-number"><%= @total_suspected %></span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-12">
          <div class="info-box">
            <span class="info-box-icon bg-success"><i class="far fa-flag"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Casos Confirmados</span>
              <span class="info-box-number"><%= @total_confirmed %></span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-12">
          <div class="info-box">
            <span class="info-box-icon bg-danger"><i class="fa fa-heart"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Óbitos</span>
              <span class="info-box-number"><%= @total_deaths %></span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-12">
          <div class="info-box">
            <span class="info-box-icon bg-warning"><i class="far fa-star"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Hospitalizados</span>
              <span class="info-box-number"><%= @total_hospitalized %></span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-12">
          <div class="info-box">
            <span class="info-box-icon bg-success"><i class="fa fa-home"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Isolados em casa</span>
              <span class="info-box-number"><%= @total_home_isolation %></span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-12">
          <div class="info-box">
            <span class="info-box-icon bg-success"><i class="far fa-star"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Descartados</span>
              <span class="info-box-number"><%= @total_discarded %></span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-12">
          <div class="info-box">
            <span class="info-box-icon bg-success"><i class="far fa-star"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Curados</span>
              <span class="info-box-number"><%= @total_heal %></span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-12">
          <div class="info-box">
            <span class="info-box-icon bg-danger"><i class="far fa-star"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Casos Positivos</span>
              <span class="info-box-number"></span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
      </div>
    </div>
    <!-- /.card-body -->
  </div>
</div>

<div class="col-md-6">


  <!-- DONUT CHART -->
  <div class="card card-danger">
    <div class="card-header">
      <h3 class="card-title">CONFIRMADOS - MESORREGIÃO NORTE FLUMINENSE</h3>

      <div class="card-tools">
        <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
        </button>
        <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
      </div>
    </div>
    <div class="card-body">
      <%= pie_chart @region_norte, donut: true, legend: "right" %>
    </div>
    <!-- /.card-body -->
  </div>
  <!-- /.card -->
</div>

<div class="col-md-6">


  <!-- AREA CHART -->
  <div class="card card-danger">
    <div class="card-header">
      <h3 class="card-title">CONFIRMADOS - MESORREGIÃO NOROESTE FLUMINENSE</h3>

      <div class="card-tools">
        <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
        </button>
        <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
      </div>
    </div>
    <div class="card-body">
      <%= pie_chart @region_noroeste, donut: true, legend: "right" %>
    </div>
    <!-- /.card-body -->
  </div>
  <!-- PIE CHART -->
  <!-- /.card -->

</div>


<div class="col-12">

  <div class="card card-danger">
    <div class="card-header">
      <h3 class="card-title">SUSPEITOS - MESORREGIÃO NOROESTE FLUMINENSE</h3>

      <div class="card-tools">
        <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
        </button>
        <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
      </div>
    </div>
    <div class="card-body">
      <%= pie_chart @suspected_noroeste, donut: true, legend: "right" %>
    </div>
    <!-- /.card-body -->
  </div>
</div>



<div class="col-md-12">


  <!-- PIE CHART -->
  <div class="card card-success">
    <div class="card-header">
      <h3 class="card-title">CONFIRMADOS - POR MUNICÍPIOS DA MESORREGIÃO NOROESTE FLUMINENSE</h3>

      <div class="card-tools">
        <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
        </button>
        <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
      </div>
    </div>
    <div class="card-body">
      <%= area_chart @chart_cities_noroeste_confirmed, curve: true, points: true, legend: "left" %>
    </div>
    <!-- /.card-body -->
  </div>
  <!-- /.card -->

  <!-- BAR CHART -->
  <div class="card card-success">
    <div class="card-header">
      <h3 class="card-title">CASOS SUSPEITOS NAS MESORREGIÕES</h3>

      <div class="card-tools">
        <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
        </button>
        <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
      </div>
    </div>
    <div class="card-body">
      <%= area_chart @sum_suspected, xtitle: "Dia da Semana", ytitle: "Casos Suspeitos" %>
    </div>
    <!-- /.card-body -->
  </div>
  <!-- /.card -->

  <!-- STACKED BAR CHART -->
  <div class="card card-success">
    <div class="card-header">
      <h3 class="card-title">CASOS CONFIRMADOS NAS MESORREGIÕES</h3>

      <div class="card-tools">
        <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
        </button>
        <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
      </div>
    </div>
    <div class="card-body">
      <%= area_chart @cases_deaths_and_confirmed, xtitle: "Dia da Semana", ytitle: "Casos Confirmados", legend: "left" %>
    </div>
    <!-- /.card-body -->
  </div>
  <!-- /.card -->

  <!-- STACKED BAR CHART -->
  <div class="card card-success">
    <div class="card-header">
      <h3 class="card-title">CONFIRMADOS - POR MUNICÍPIOS DA MESORREGIÃO NORTE FLUMINENSE</h3>

      <div class="card-tools">
        <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
        </button>
        <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
      </div>
    </div>
    <div class="card-body">
      <%= area_chart @chart_cities_norte_confirmed, curve: true, points: true, legend: "left" %>
    </div>
    <!-- /.card-body -->
  </div>
  <!-- /.card -->

</div>