<div class="container">
  <div class="row">
    
    <div class="col-4">
      <div class="card">
        <div class="card-body">
          <span class="number-total"><%= @total_suspected %></span>
          <span class="text-total">Casos Suspeitos</span>
        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="card">
        <div class="card-body">
          <span class="number-total"><%= @total_confirmed %></span>
          <span class="text-total">Casos Confirmados </span>
        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="card">
        <div class="card-body">
          <span class="text-danger number-total"><%= @total_deaths %></span>
          <span class="text-total">Óbitos </span>
        </div>
      </div>
    </div>



    <div class="col-4 mt-3">  
      <div class="card">
        <div class="card-body">
          <span class="number-total"><%= @total_hospitalized %></span>
          <span class="text-total">Hospitalizados </span>
        </div>
      </div>
    </div>

    <div class="col-4 mt-3">  
      <div class="card">
        <div class="card-body">
          <span class="number-total"><%= @total_home_isolation %></span>
          <span class="text-total">Isolados em casa </span>
        </div>
      </div>
    </div>

    <div class="col-4 mt-3">
      <div class="card">
        <div class="card-body">
          <span class="number-total"><%= @total_discarded %></span>
          <span class="text-total">Descartados </span>
        </div>
      </div>
    </div>

  </div>

<div class="container mt-5">

  <div class="row">
    
    <div class="col-6">

       
    <div class="card">
      
    <div class="card-header">Casos confirmados por cidades</div>
       <div class="card-body">
         <%= column_chart CovidInformation.includes(:city).where(date_reference: '01/03/2020'.to_date..Time.current).group("cities.id").select("cities.name, SUM(covid_informations.confirmed) AS sum_confirmed").order("cities.id").pluck("cities.name, SUM(covid_informations.confirmed)"), colors: ["#ff9800", "#666"]%>
       </div>
    </div>

    </div>

    <div class="col-6">
      
    <div class="card">
    <div class="card-header">Casos confirmados</div>
       <div class="card-body">
         <%= column_chart CovidInformation.where(date_reference: '01/03/2020'.to_date..Time.current).group("date_reference").select("date_reference, SUM(confirmed) AS sum_confirmed").order("date_reference").pluck("date_reference, SUM(confirmed)") %>

       </div>
    </div>

    </div>

  </div>

</div>






<div class="container mt-5">

  <div class="row">
    
    <div class="col-6">

       
    <div class="card">
       <div class="card-body">
         <%= pie_chart CovidInformation.includes(:city).where(date_reference: '01/03/2020'.to_date..Time.current).group("cities.id").select("cities.name, SUM(covid_informations.confirmed) AS sum_confirmed").order("cities.id").pluck("cities.name, SUM(covid_informations.confirmed)") %>
       </div>
    </div>

    </div>

    <div class="col-6">
      
    <div class="card">
       <div class="card-body">
         <%= line_chart CovidInformation.where(date_reference: '01/03/2020'.to_date..Time.current).group("date_reference").select("date_reference, SUM(confirmed) AS sum_confirmed").order("date_reference").pluck("date_reference, SUM(confirmed)") %>

       </div>
    </div>

    </div>

  </div>

</div>