<div class="container">
  <div class="row">
    
    <div class="col-4">
      <div class="card">
        <div class="card-body">
          <span class="number-total text-yellow"><%= @total_suspected %></span>
          <span class="text-total">Casos Suspeitos</span>
        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="card">
        <div class="card-body">
          <span class="number-total text-orange"><%= @total_confirmed %></span>
          <span class="text-total">Casos Confirmados </span>
        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="card">
        <div class="card-body">
          <span class="number-total text-red"><%= @total_deaths %></span>
          <span class="text-total">Óbitos </span>
        </div>
      </div>
    </div>



    <div class="col-4 mt-3">  
      <div class="card">
        <div class="card-body">
          <span class="number-total text-yellow-light"><%= @total_hospitalized %></span>
          <span class="text-total">Hospitalizados </span>
        </div>
      </div>
    </div>

    <div class="col-4 mt-3">  
      <div class="card">
        <div class="card-body">
          <span class="number-total text-green"><%= @total_home_isolation %></span>
          <span class="text-total">Isolados em casa </span>
        </div>
      </div>
    </div>

    <div class="col-4 mt-3">
      <div class="card">
        <div class="card-body">
          <span class="number-total"><%= @total_discarded %></span>
          <span class="text-total">Descartados </span>
        </div>
      </div>
    </div>

  </div>

<div class="container mt-5">

  <div class="row">
    
    <div class="col-6">

       
    <div class="card">
      
    <div class="card-header">Casos confirmados por cidades</div>
       <div class="card-body">
         <%= column_chart City.joins(:covid_informations)
                              .where(covid_informations: { date_reference: CovidInformation.maximum(:date_reference)  } )
                              .pluck("cities.name, covid_informations.confirmed"), colors: ["#ff2100", "#666"] %>
       </div>
    </div>

    </div>

    <div class="col-6">
      
    <div class="card">
    <div class="card-header">Casos suspeitos por cidades</div>
       <div class="card-body">
         <%= column_chart City.joins(:covid_informations)
                              .where(covid_informations: { date_reference: CovidInformation.maximum(:date_reference)  } )
                              .pluck("cities.name, covid_informations.suspected"), colors: ["#ff9800", "#666"] %>

       </div>
    </div>

    </div>

  </div>

</div>






<div class="container mt-5">

  <div class="row">
    
    <div class="col-6">

       
    <div class="card">

       <div class="card-header">
         Casos suspeitos de COVID-19 na Região Norte e Noroeste
       </div>

       <div class="card-body">
         <%= line_chart CovidInformation.joins(:city).
                 group("covid_informations.date_reference").
                 order("covid_informations.date_reference").
                 sum(:suspected) %>
       </div>
    </div>

    </div>

    <div class="col-6">
      <div class="card">
        <div class="card-header">
        Casos confirmados de COVID-19 na Região Norte e Noroeste Fluminense
        </div>
         <div class="card-body">
           <%= line_chart CovidInformation.joins(:city).
                 group("covid_informations.date_reference").
                 order("covid_informations.date_reference").
                 sum(:confirmed) %>

       </div>
    </div>

    </div>

  </div>

</div>