<!DOCTYPE html>
<html>
  <head>
    <title>Atlas Socioeconômico do Norte Fluminense | COVID-19 </title>
    <%# <meta name="viewport" content="width=device-width, initial-scale=1"> %>
    <meta charset="utf-8">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700&lang=en">
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="login-page">
    <%= yield %>
  </body>
</html>
